/* Reset */
@import url("./reset.css");

/* Fonts */
@import url("./fonts.css");

/* Global */
* {
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  flex-shrink: 0;
  background: center / cover no-repeat url("../img/bg.jpg");
}

.sidebar .logo-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .logo-container .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Norse", serif;
  font-size: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
}

.sidebar .logo-container .logo img {
  height: 5rem;
}

.sidebar .caption {
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
  color: #fff;
}

.sidebar .caption a {
  color: inherit;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
}

.main > section {
  padding: 2rem;
  flex: 1;
}

.main .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.02);
}

.main .description p {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.main .form p {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.main .form form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.main .form form > div {
  flex: 1 0 350px;
  display: flex;
  flex-direction: column;
}

.main .form form label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.main .form form input {
  padding: 0.5rem;
  border: 2px solid #e5e7eb;
  border-radius: 0.25rem;
}

.main .form form .error {
  font-size: 0.75rem;
  font-weight: 700;
  padding-top: 0.25rem;
  color: rgb(180, 15, 15);
}

.main .form form .error:empty::before {
  content: "";
  display: inline-block;
}

.main .sign-up {
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.1);
}

.main .sign-up button {
  padding: 1rem 4rem;
  background-color: #596d48;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  transition: 0.2s;
  margin-bottom: 1rem;
}

.main .sign-up button:hover {
  background-color: #48573b;
}

.main .sign-up a {
  text-decoration: none;
  font-weight: 700;
  color: #596d48;
  transition: 0.2s;
}

.main .sign-up a:hover {
  color: #48573b;
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .caption {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
  }
}
